<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CSS</title>

 	<link  rel="stylesheet" type="text/css" th:href="@{/resources/Interface/reset.css}" />
    <link  rel="stylesheet" type="text/css" th:href="@{/resources/Interface/style.css}" />
    <link  rel="stylesheet" type="text/css" th:href="@{/resources/Interface/myCustom.css}" />
    <link  rel="stylesheet" type="text/css" th:href="@{/resources/customCSS/tags.css}" /> 
    
    <link rel="stylesheet"  type="text/css"  th:href="@{/resources/Interface/js/jquery.wysiwyg.css}" />
    <link rel="stylesheet"  type="text/css" media="screen"  th:href="@{/resources/Interface/js/colorbox.css}" />
    <link  rel="stylesheet" type="text/css" media="screen" th:href="@{/resources/Interface/js/colorbox-custom.css}" />
    
     <link  rel="stylesheet" type="text/css" media="screen" th:href="@{/resources/Interface/Alert/alertify.core.css}" />
	 <link  rel="stylesheet" type="text/css" media="screen" th:href="@{/resources/Interface/Alert/alertify.default.css}" />

<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"> </script>
<script type="text/javascript" th:src="@{/resources/js/jquery-2.0.3.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/myCustomJS.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/cp_selectOption.js}"></script>

<script type="text/javascript" th:src="@{/resources/js/addPOSMultiple.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/addLangMultiple.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/addEduMultiple.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/addWorkExpMultiple.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/addRefMultiple.js}"></script>

	 <script type="text/javascript" th:src="@{/resources/Interface/Validation/clientFormValidation.js}"></script>
     <script type="text/javascript" th:src="@{/resources/Interface/Alert/alertify.min.js}"></script>
	 <script type="text/javascript" th:src="@{/resources/Interface/Alert/jquery-1.9.1.js}"></script>

    <script type="text/javascript" th:src="@{/resources/Interface/js/jquery-1.3.2.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/Interface/js/jquery.colorbox-min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/Interface/js/jquery.ui.js}"></script>
    <script type="text/javascript" th:src="@{/resources/Interface/js/jquery.corners.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/Interface/js/bg.pos.js}"></script>
    <script type="text/javascript" th:src="@{/resources/Interface/js/jquery.wysiwyg.js}"></script>
    
    <script type="text/javascript" th:src="@{/resources/Interface/js/tabs.pack.js}"></script>
    <script type="text/javascript" th:src="@{/resources/Interface/js/cleanity.js}"></script>
    
  

</head>

<body>

 <div id="container">
 
<!--  <div th:include="/fragments/header :: header">  </div>
 -->   
 
 
 <div id="header">
      <div id="top">
     
      <h1><a href="#">CSS </a></h1>
      <p id="userbox">Hello <strong>Muhammad Raza</strong> &nbsp;| &nbsp;<a href="#">Settings</a> &nbsp;| &nbsp;<a href="#">Logout</a> <br />
      <small>Last Login: 12 May 2009</small></p>
      <span class="clearFix">&nbsp;</span>
      </div>
      <ul id="menu">
        <li class="selected"><a href="#">Dashboard</a></li>
        <li><a class="top-level" href="#">Users <span>&nbsp;</span></a>
          <ul>
            <li><a href="#">Add User</a></li>
            <li><a href="#">Edit Users</a></li>
          </ul>
        </li>
        <li><a href="#">Pages</a></li>
        <li><a href="#">Modules</a></li>
        <li><a class="top-level" href="#">Settings <span>&nbsp;</span></a>
            <ul>
            <li><a href="#">Site Settings</a></li>
            <li><a href="#">File Paths</a></li>
            <li><a href="#">User Profiles</a></li>
          </ul></li>
      </ul>
	
      <span class="clearFix">&nbsp;</span>
    
    </div><!-- end of #header -->

<div id="content">

	<div id="content-top">
   
    <h2>Dashboard</h2>
   
      <span class="clearFix">&nbsp;</span>
      </div><!-- end of div#content-top -->
     
     
      <!-- <div th:include="/fragments/QuickLinks :: QuickLinks">  </div> -->
      
      <div id="left-col">
      
      <div class="box">
              <h4 class="yellow">Settings</h4>
          <div class="box-container"><!-- use no-padding wherever you need element padding gone -->
              <ul class="list-links">
                  <li><a href="#"><button id="changePasswordDetail">  Change Password</button></a></li>
                  <!--  <li><a href="#"><button id="cancelPasswordDetail"> Cancel</button> </a></li> -->
              </ul>
          </div><!--end of div.box-container -->
          </div><!-- end of div.box --><!--end of div.box --><!-- end of div.box -->
     

    
      <img style="margin-left:30px;"  th:src="@{/resources/Interface/icons/logo.png}" width="160px" height="150px" />
 
          
      </div> <!-- end of div#left-col -->
     
 
       <div id="mid-col" class="full-col">  
        
		 <div class="box">
      		<h4 class="white">Change Password</h4>
        <div class="box-container">     		
      		
            <div id="changePasswordDiv" align="center"> <!-- style="display:none;" -->

<h1> Change Password </h1>  <br/><br/><br/>





<form id="formElem" name="formElem" onsubmit="return validateForm()" th:action="@{/changePassword}">


<div id="first" style="float: left;">

<table>

<tr>
	<td>
    		<label class="labelClass"> Old Password: </label>
    </td>
    <td>
    		<input  class="inputClass" type="text" name="currentPassword" placeholder="Old Password" />
    </td>     
</tr>

<tr>
	<td>
    		<label class="labelClass"> New Password: </label>
    </td>
    <td>
    		 <input class="inputClass" type="text" name="newPassword" />
    </td>    
</tr>





	
	</table>
		
	<br/> <br/>
	<p>-----------------------------------------------------------------</p>

</div>


		
	 <button class="saveBtn" type="submit"> <img th:src="@{/resources/Interface/icons/save3.png}" /> </button>
	
</form>

 <button   class="saveBtn" id="cancelCP"> <img th:src="@{/resources/Interface/icons/close3.png}" /> </button> <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<!-- <button class="cancelBtn" id="cancelACD"> cancel</button> <br/> <br/> -->



</div>




            
            
      	</div><!-- end of div.box-container -->
      	</div> <!-- end of div.box -->
          
         	
      </div><!-- end of div#mid-col -->   
     
      
      <!--   <div th:include="/resources/fragments/Calender :: Calender">  </div>  -->
      
    <!--  <div id="right-col">
		
          <div class="box">
          		<h4 class="light-grey">Date &amp; Calendar</h4>
         <div class="box-container">
		  		<div id="date-container">
		  		<img th:src="@{/resources/Interface/images/sunny.png}" alt="Sunny" /> <span class="hour">22:54</span> <span class="date">18th May 2009<br/>Friday</span>
                 <span class="clearFix">&nbsp;</span>
		  	</div>end of div#box-date
		  	
		  	<div id="calendar-container">
		  		<h5>Calendar</h5>
				<div id="calendar"></div>
		  	    	<div class="inner-nav">
                		<div class="align-left"><a href="#"><span>+ add event</span></a></div>
                		<div class="align-right"><a href="#"><span>? list events</span></a></div>
                        <span class="clearFix">&nbsp;</span>
                	</div> 
		  	</div>end of div#calendar-container
          </div>end of div.box-container  
          </div>end of div.box  
         	          
      </div>end of div#right-col    --> 
      
      
      
      <span class="clearFix">&nbsp;</span>     
</div><!-- end of div#content -->
<div class="push"></div>
</div><!-- end of #container -->

<!-- <div th:include="/fragments/footer :: footer" >
   
   </div> -->

<div id="footer-wrap">
	<div id="footer">
        <div id="footer-top">
        	<div class="align-left">
            <h4>Dashboard</h4>
           
            <p><a href="#">Dasboard Sub 1</a> | <a href="#">Dasboard Sub 2</a> | <a href="#">Dasboard Sub 3</a></p>
        	</div>
            <div class="align-right">
            <h2><a href="#">CSS</a></h2>
            </div>
            <span class="clearFix"></span>
        </div><!-- end of div#footer-top -->
        
        <div id="footer-bottom">
        	<p>&copy; 2013 Consultancy Software Solution. <a href="">CSS</a>, 
            via <a href="">Orange Developers</a></p>
        </div>
        
	</div>
</div>


</body>
</html>
