 <div th:fragment="QuickLinks">
 
 <div id="left-col">
      
      <div class="box">  	
		  		<h4 class="light-blue">Quick Visual Links</h4>
            <div class="box-container">
		  		<ul id="quick-visual-links">
		  			<li><a href="student.html"><img src="images/ql-settings.gif" alt="" /><br/>Settings</a></li>
		  			<li><a href="#"><img src="images/ql-users.gif" alt="" /><br/>Users</a></li>
		  			<li><a href="#"><img src="images/ql-messages.gif" alt="" /><br/>Messages</a></li>
		  			<li><a href="#"><img src="images/ql-photos.gif" alt="" /><br/>Photos</a></li>
		  			<li><a href="#"><img src="images/ql-media.gif" alt="" /><br/>Media</a></li>
		  			<li><a href="#"><img src="images/ql-design.gif" alt="" /><br/>Design</a></li>
		  			<li><a href="#"><img src="images/ql-options.gif" alt="" /><br/>Options</a></li>
		  			<li><a href="#"><img src="images/ql-databases.gif" alt="" /><br/>Databases</a></li>
		  			<li><a href="#"><img src="images/ql-paths.gif" alt="" /><br/>File Paths</a></li>   
		  		</ul>
                <span class="clearFix">&nbsp;</span> 
          </div><!-- end of div.box-container -->            
          </div><!-- end of div.box -->  


    
      <img style="margin-left:30px;"  src="icons/logo.png" width="160px" height="150px" />
 
          
      </div> <!-- end of div#left-col -->
      
   </div>  
    